@charset "utf-8";
/* font */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@font-face {font-family: 'Tenada'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2'); font-weight: normal; font-style: normal;}
body	{ font-family: 'NanumSquareAc', sans-serif ; font-size: 1.6rem; overflow-x: hidden; overflow-y: auto; line-height: 1.4; color:#333; }

:root {
/* color */
--white: #fff;
--navy: #021859;
--navy_type2: #213573;
--dark_navy: #48547A;
--purple: #4F54C4;
--red: #FF2200;
--sky_blue: #0D99FF;
--blue:#0554F2;

--text: #333;
--text_B_light: #525252;
--text_gray: #999;
--text_L_purple: #7389D2;

--line_gray1: #EBEEF2;
--line_gray2: #DDDDDD;
--line_purple:#C7C0F0;
--line_sky:#C8E7FD;
--hover_blue: #0041AD;
--footer_blue: #E3F2FD;
--chart_02:#C8E7FD;
--chart_03:#B3C3DB;
--chart_04:#7588C7;

/* background */
--background-body: linear-gradient(180deg, #b3c3db, #FFFFFF 60%);
--bg_sky: #EFF7FD;
--bg_Gsky: #F7F9FB;
--bg_Gray: #F3F5F7;
--bg_Lpurple: #EEEEFA;
--bg_black: #222222;
--bg_pop:#F0F3F8;

/* shadow */
--shadow: 0px 0px 14px rgb(0 0 0 / 10%);
--shadow01: 0px 0px 9px rgb(122 122 122 / 50%);
--shadow02: 0px 0px 8px rgb(79 84 196 / 50%);
--shadow03: 0px 0px 4px rgb(79 84 196 / 100%);

/* filter */
--filter1: invert(32%) sepia(69%) saturate(1493%) hue-rotate(218deg) brightness(82%) contrast(85%);
--filter2: invert(35%) sepia(11%) saturate(5884%) hue-rotate(210deg) brightness(92%) contrast(93%);


/* swiper */
--swipar_left:url('../image/swiper_left.svg') no-repeat;
--swipar_right:url('../image/swiper_right.svg')no-repeat;

}
/* 241209 */
* {
    box-sizing: border-box;
}
/* color */
.bg_pp {background:var(--bg_Lpurple) !important;}
.bg_gsky {background:var(--bg_Gsky);}
.bg_gray {background:var(--bg_Gray);}
.bg_black {background: var(--bg_black) !important;}
.f_blue {background: var(--footer_blue);}

.block {color: var(--text);}
.d_navy {color: var(--dark_navy);}
.navy {color: var(--navy);}
.purple {color:var(--purple);}
.t_gray {color:var(--text_gray);}
.red {color:var(--red);}
.sky {color:var(--sky_blue);}
.ore {color:#FF7859;}

/* width */
.wd_10 {width:10%;}
.wd45 {width:45.3rem;}
.wd77 {width:77.2rem;}
.wd83 {width:83rem;}
.wd84 {width:84rem;}
.wd120 {width:120rem; margin: 0 auto;}

/* margin */
.mt10 {margin-top:1rem;}
.mt20 {margin-top:2rem;}
.mt60 {margin-top:6rem;}

.mb10 {margin-bottom:1rem !important;}
.mb20 {margin-bottom:2rem !important;}
.mb30 {margin-bottom:3rem;}
.mb40 {margin-bottom:4rem;}
.mb50 {margin-bottom:5rem;}
.mb60 {margin-bottom:6rem;}
.mb80 {margin-bottom:8rem;}

.mrAuto {margin-right:auto;}
.mr10 {margin-right:1rem;}
.mr20 {margin-right:2rem;}

.mlAuto {margin-left:auto;}
.ml10 {margin-left:1rem;}

/* padding */
.pt18 {padding-top:18rem;}
.p20 {padding:2rem;}


/* display */
.show1024 {display: none;}
.show768 {display: none;}
.show425 {display: none;}
.show350 {display: none;}

.hide1024 {display: block;}
.hide768 {display: block;}
.hide {display: block;}

.rel {position: relative;}
.ab {position: absolute;}

/* border-radius */
.bd_r4 {border-radius: 4px;}
.bd_r10 {border-radius: 1rem;}
.bd_r20 {border-radius: 2rem;}
.bd_r50 {border-radius: 5rem;}

/* flex */
.flex , .flex_sb, .flexCol, .flexRow, .flexBox,
.flexBox_row, .flexBox_col, .flex_se {display:flex;}
.flex {align-items: center;}
.flex_sb {align-items: center; justify-content: space-between;}
.flex_se {justify-content: space-evenly;}
.flexCol {flex-flow:column;}
.flexRow {flex-flow:row; }
.flexW_col {flex-flow: column wrap;}
.flexBox {flex-flow: row wrap; justify-content: center; align-items: stretch; gap: 3rem;}
.flex_cont2 {width: calc(98% / 2);}
.flex_cont3 {width: calc(97% / 3);}
.flex_cont4 {width: calc(96% / 4);}

/* grid */
.grid {display: -webkit-grid; display: grid !important; gap: 3rem;}
.grid2 {display: -webkit-grid; display: grid !important; grid-auto-flow: dense; gap: 2rem; align-items: stretch;}
.gridCol2 {-webkit-grid-template-columns:1fr 1fr; grid-template-columns:1fr 1fr;}
.gridCol3 {-webkit-grid-template-columns: repeat(3, 1fr);grid-template-columns: repeat(3, 1fr); }
.gridCol4 {-webkit-grid-template-columns: repeat(4, 1fr); grid-template-columns: repeat(4, 1fr); }
.gridCol5 {-webkit-grid-template-columns: repeat(5, 1fr); grid-template-columns: repeat(5, 1fr);}

/* text */
h2 {font-size:3.5rem; font-weight: 900;}
h3 {font-size:3rem; font-weight: bold;}
h4 {font-size:2.4rem; font-weight: bold;}
h5 {font-size:2rem;}
h6 {font-size: 1.8rem; font-weight: bold;}

p {line-height: 140%; word-break: keep-all;}
p.textArea {color:var(--text_gray); text-align: start; margin-bottom: 0; height: 100px;}
p.textArea b {color: var(--bg_black); font-weight: bold;}
.tagM {font-size: 1.8rem; color:var(--text_gray);}
#content .id {font-size: 1.8rem; text-align: end;}
.textArea2 {font-size: 1.6rem;}

/* textstyle */
.bold {font-weight: bold; }
.center {text-align: center;}
.end {text-align: end;}
.start {text-align: start;}
.nowrap {white-space: nowrap;}
/* txtShot */
.txtShot {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
/* letter-spacing */
.Lt_5 {letter-spacing:-0.05rem;}

/* decoText */
.decoText {font-size: 3.5rem; font-family: 'Tenada';}
.decoText01, .decoText02, .decoText03 {font-size: 1.6rem; color:var(--white); padding:1rem 2rem; border-radius: 99px; display: inline-block;}
.decoText01 {background:var(--dark_navy);}
.decoText02 {background:var(--purple);}
.decoText03 {padding:1rem 4rem;  color:var(--purple); border:1px solid var(--purple);}
/* up&down */
.down {color: var(--sky_blue);}
.up {color: var(--red);}
.up, .down {position: relative; margin-left: 2.2rem;}
.up::before, .down::before {display: inline-block; position: absolute; content:''; width:20px; height: 20px; left: -25px;}
.up::before {background: center / contain no-repeat url('../image/up_icon.png');}
.down::before {background: center / contain no-repeat url('../image/down_icon.png');}
/* textLine */
.textLine, .rightLine {position: relative; display: inline-block;}
.textLine::before {position: absolute; content: '';background: var(--text_L_purple); height: 1rem; width: 100%; left: 0; bottom: 2px; opacity: .30; z-index: 0;}
.textLine.St02::before {background:var(--dark_navy);}
.rightLine {margin-right: 1rem; padding-right: 1rem; color:var(--text_gray)}
.rightLine::after {position: absolute; content: '';background: var(--bg_sky); height: 100%; width: 2px; right: 0; bottom: 2px; }


/* style */
.noneStyle {border:0 !important; }
.none {display: none;}
/* boxStyle */
.boxStyle, .boxStyle01, .boxStyle02 ,.boxStyle04  {box-shadow: var(--shadow); padding:2rem; border-radius: 2rem;}
.boxStyle {border-radius: 1rem;}
.boxStyle01 {border-radius: 1rem; border:1px solid var(--line_gray1); padding:4rem 3rem; box-shadow: none; background:var(--white);}
.boxStyle02 { background:var(--white);}
.boxStyle02.St2 {border-radius: 1rem;}
.boxStyle03 {border:1px solid var(--purple); padding:2rem; border-radius: 2rem; background:var(--white);}
.boxStyle04 {padding:3rem; background:var(--bg_Gsky);}
.boxStyle05 {padding:.8rem 1.5rem; background:var(--bg_Gray); border-radius: 1rem;}
/* bg_style */
.bgStyle {background: var(--background-body);}
/* borderStyle */
.brStyle {border-bottom:1px solid var(--line_gray1);margin-bottom: 3rem; padding-bottom: 3rem;}
.brStyle2 {border-bottom:1px solid var(--line_gray1);margin-bottom: 5rem; padding-bottom: 5rem;}

/* img */
.imgArea {overflow: hidden;}
.imgArea img {max-width:100%; overflow:hidden; margin: 0 auto;}
.imgArea img.imgRight {margin:0 0 0 auto;}

/* check */
.Check {-webkit-display: flex; display: flex; align-items: center;}
.Check input[type="checkbox"] {appearance: none; width:16px; height: 16px; border: 1px solid var(--text_gray); box-sizing: border-box; outline: 0; border-radius: 4px; margin-right: 0.5rem;}
.Check input[type="checkbox"]:checked {border-color:var(--purple); background-color: var(--purple); background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");}
/* check style02 */
input[type="checkbox"].dotCheck {width:20px; height: 20px; border: 1px solid var(--text_gray);  border-radius: 50px; margin-right: 0.5rem; background: url("../image/check_dot.svg") no-repeat 50% 50%;}
input[type="checkbox"]:checked.dotCheck {border-color:var(--purple); background-color: var(--purple); background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");}

/* checkEvent */
.checkEvent {box-shadow: var(--shadow); padding: 2rem; border-radius: 2rem; background: var(--white);}
.checkEvent input[type="checkbox"].dotCheck {border: 1px solid var(--text_gray); background: url("../image/check_dot.svg") no-repeat 50% 50%;}
.checkEvent.on {border:1px solid var(--purple);}
.checkEvent.on input[type="checkbox"]:checked.dotCheck {border-color:var(--purple); background-color: var(--purple); background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");}

/* btn */
.btn {padding:1.2rem 6.5rem; font-size: 2rem; font-weight: 500;-webkit-transform: translateZ(0); transform: translateZ(0);}
.btn.btnSt {color:var(--white); background:var(--navy); border-radius: 1rem;}
.btn.btnSt_2 {color:var(--navy); background:var(--white); border:1px solid var(--navy); border-radius: 1rem;}
.btn.mbship {color:var(--navy); background: var(--white); border-radius: 50px; font-weight: bold;}
.btn.mbship02 {border-radius: 5rem; color:var(--text_gray); border:1px solid var(--line_gray2); font-weight: 400; background:var(--white);}
.btn.btnSt.on {background:var(--dark_navy);}
.btn.btnSt_2.on  {color:var(--white); border:0; background:var(--navy_type2);}
.btn.mbship.on {background:var(--footer_blue); color:var(--hover_blue);}
.btn.mbship02.on {background:var(--purple); color:var(--white);}

/* btnmore */
.btnmore, .btngo  {-webkit-display: flex; display: flex; align-items: center; justify-content: center; border-radius: 1rem; padding:1.2rem 2rem; -webkit-transform: translateZ(0); transform: translateZ(0);}
.btnmore span,.btngo span {margin-right:1rem; font-size: 1.8rem; font-weight: bold;}
.btnmore {border: 1px solid var(--purple); background:var(--white);}
.btnmore span {color:var(--purple);}
.btnmore.type1 {border-color: var(--white); background:none;}
.btnmore.type1 span,
.btngo span {color:var(--white); font-weight: 500; text-align: center;}
.btngo {background:var(--purple);}

/* btn01 */
.btn01 {font-size: 1.4rem; padding:1.4rem 2rem; font-weight: 300; border-radius:1rem; border:1px solid var(--line_gray2); color:var(--text_gray); white-space: nowrap;-webkit-transform: translateZ(0); transform: translateZ(0);} 
.btn01.normal2 {color:var(--text);}
.btn01.next {background:var(--purple); color:var(--white); border:0;} 
.btn01.next i {margin-right:1rem;}
.btn01.btn_1 {white-space:nowrap ; background:#F4F2FC; color:var(--purple); padding:1.4rem 4rem; border:0;}
.btn01.btn_2 {white-space:nowrap ; color:var(--purple); padding:1.4rem 4rem; border:1px solid var(--purple);}
.btn01.btn_3 {white-space:nowrap ; color:var(--purple); width:160px; font-size: 1.6rem; background:var(--white);}
.btn01.btn_4 {background: #B0B7CD; color:var(--white); border-radius: 1rem;}

.btn01.iconBtn {position: relative; -webkit-display: flex; display: flex; justify-content: center; align-items: center; padding:1.4rem;}
.btn01.iconBtn::before {content: ''; margin-right:.5rem; width: 20px; display: inline-flex;}
.btn01.iconBtn.St1::before {background: center / cover  no-repeat url(../image/reicon.svg);  height: 12px;}
.btn01.iconBtn.St1_1::before {background: center / cover  no-repeat url(../image/lineicon.svg);  height: 16px;}
.btn01.iconBtn.St2,.btn01.iconBtn.St2_1 {background:var(--purple); color:var(--white); border: 0;}
.btn01.iconBtn.St2::before {background: center / cover  no-repeat url(../image/plusicon.svg); height: 16px;} 
.btn01.iconBtn.St2_1::before {background: center / cover  no-repeat url(../image/posticon.svg); height: 16px;} 
.btn01.iconBtn.St3 {background:var(--bg_Gsky); color:var(--text); border: 0;}
.btn01.iconBtn.St3::before {background: center / contain  no-repeat url(../image/binicon.svg);  height: 16px;} 
.btn01.iconBtn.St4 {border:1px solid var(--purple); color:var(--purple); background: var(--white);}

.btn01.round, .btn01.round02 {padding:1.4rem 4rem;}
.btn01.round {border-radius: 50px; }
.btn01.round02 {border-radius: 50px; background:var(--line_purple); color:var(--text); border:0;}

.btn01.on, .btn01.normal2.on {border-color:var(--purple); color:var(--purple);}
.btn01.next.on {background:var(--white); border:1px solid var(--dark_navy); color:var(--dark_navy);}
.btn01.iconBtn.St1.on {border-color:var(--dark_navy); color:var(--dark_navy); }
.btn01.iconBtn.St1.on::before {filter:var(--filter1);}

/* btnBox */
.btnWrap {-webkit-display: flex; display: flex; align-items: center;}
.btnBox ,.bottomBtn, .Pop_close.St2 {-webkit-display: flex; display: flex; align-items: center; }
.btnBox >* {width:130px; margin-right:1rem;}
.btnBox >*:last-child, .bottomBtn >*:last-child,  .Pop_close.St2 >*:last-child {margin-right:0;}

/* bottomBtn */
.bottomBtn, .Pop_close.St2 {justify-content: center;}
.bottomBtn >*,  .Pop_close.St2 >*{width:200px; font-size: 1.8rem !important; margin-right:1rem;}

/* tableArea */
.tableArea, .tableArea1, .tableArea2, .tableArea3{width:100%; overflow-x: auto;}
.tableArea .tg, .tableArea1 .tg, .tableArea2 .tg, .tableArea3 .tg {width:100%; text-align: center;}
.tableArea thead tr {border-bottom:1.5px solid var(--line_gray2); }
.tableArea .tg thead th {font-size: 1.6rem; font-weight:bold; color:var(--text_gray); padding:1rem ;}
.tableArea .tg tbody td {font-size: 1.4rem; font-weight:normal; padding:1rem;}

.tableArea2 .tg thead tr, .tableArea3 .tg thead tr {background:var(--footer_blue); color:var(--navy);font-weight: 700;}
.tableArea2 .tg tr {border-bottom: 1px solid var(--line_gray1);}
.tableArea2 .tg tr >* {padding:1rem 1.2rem; text-align: center;}
.tableArea2 .tg tr input {background:var(--bg_sky); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

.tableArea3 .tg thead tr { border-bottom:1.5px solid var(--navy);}
.tableArea3 .tg tr >* {padding: .8rem 1.5rem;}
.tableArea3 .tg tbody tr input {text-align: end;}
.tableArea3 .tg tbody >*  {border-bottom: 1px solid var(--line_gray1);}
/* .tableArea3 .tg tbody tr td:nth-child(2) {text-align: start;} */
.tableArea3 .tg .tableFooter {background:var(--footer_blue); border-top:1.5px solid var(--navy); color:var(--navy); font-weight: 700; }
.tableArea3 .tg tbody td {font-size: 1.4rem;}

/* content */
#inner, .inner {width:1400px; margin:0 auto;}

/* colortag */
.colortag {position:relative; }
.colortag::after {position: absolute; content: ''; bottom:0; width:100%; height: 108px; background:linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1) 100%);}
.colortag li, .numtag li{position:relative; -webkit-display: flex; display: flex; align-items: center; justify-content: flex-start; margin-bottom:1rem;}
.colortag li:last-child, .numtag li:last-child {margin-bottom: 0;}
.colortag li p:last-child, .numtag li p:last-child {margin-left: auto;}
.colortag li:before {display: inline-block; content: ''; width:1rem; height: 1rem; margin-right: 1rem; border-radius: 50rem; background:var(--footer_blue);}
.colortag li:nth-child(2):before {background: var(--chart_02);} 
.colortag li:nth-child(3):before {background: var(--chart_03);} 
.colortag li:nth-child(4):before {background: var(--chart_04);} 
.colortag li:nth-child(5):before {background: var(--purple);} 
.colortag li:nth-child(6):before {background: var(--hover_blue);} 
/* unmtag */
.numtag span {font-weight: 600; color:var(--text_gray); margin-right:1rem;}
.numtag li >* {white-space: nowrap;}
.numtag li p:nth-child(2) {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
/* label */
.label {background:var(--footer_blue); font-size: 1.2rem; padding:.2rem 1rem; border-radius: 4px; }
.label.St1 {background:#FFF9AB; border:0; color: var(--text);}
.label.St2 {color:#314D7D; border:1px solid var(--line_gray1); background:var(--white); font-size: 1.2rem; padding:.2rem 1rem;}
.label2 {border-radius: 0.5rem; font-size: 1.4rem; padding:.5rem 1.5rem; background:var(--bg_Gray); border:1px solid var(--line_gray1); color: var(--text_gray);}
.label2.St1 {background:var(--white);}


/* icon */
.qIcon {background: center / contain no-repeat  url(../image/qicon.svg); display: inline-block; width:18px; height: 18px; margin-left: 1rem; }

/* Pagination */
.pagination {-webkit-display: flex; display: flex; justify-content: center; align-items: center; margin-bottom:3rem; }
.pagination li {position: relative;}
.pagination li a {padding: 1rem 1.4rem; font-size: 1.4rem; font-weight: 400; border: 0.5px solid var(--line_gray2);  text-align: center; color: var(--text_gray);white-space: nowrap; border-radius: 50%;}
.pagination li::after {content: ''; background: center / contain no-repeat url('../image/pagenation_icon.png'); width:13px; height: 13px; display: inline-block; margin: 0 1rem;}
.pagination li:last-child::after{display: none;} 
.pagination a.active {background: var(--navy); color: var(--white); border: 0; font-weight: 600;}
.pagination a:hover:not(.active) {color: var(--navy); border-color: var(--navy); font-weight: 600}
.pageTitle {margin-bottom: 10rem;}
.pageTitle h2, .pageTitle h5 {text-align: center;}
.pageTitle h2 {color:var(--dark_navy);}

/* input */
input[type="text"] { padding: 1.2rem 2rem; color: var(--line_gray2); border: 1px solid var(--line_gray2); border-radius: 1rem; font-size: 1.6rem; background: transparent;}
input:focus { border-color: var(--purple); outline: none; color: var(--text_gray);}

.input_box {position: relative; -webkit-display: flex; display: flex; align-items: center;}
.input_box input[type="tel"], 
.input_box input[type="text"] ,
.input_box input[type="email"] ,
.input_box input[type="password"] {width:-webkit-fill-available; color: var(--text_gray); border: none; border: 1px solid var(--line_gray2); font-size: 1.6rem; font-weight: 400; margin: 1rem 0; border-radius: 1.5rem;}
.input_box input[type="tel"]:focus,
.input_box input[type="text"]:focus,
.input_box input[type="number"]:focus,
.input_box input[type="email"]:focus,
.input_box input[type="password"]:focus {color: var(--purple); outline: none;}

/* input message */
.input-status-message {font-size: 1.2rem; font-weight: 400; line-height: 1.3; color: var(--purple);}
.input-with-message~.input-status-message { color: var(--purple); display: none;}
.input-with-message.focused:placeholder-shown:not(:focus)~.input-status-message--empty {display: block;}
.input-with-message:invalid~.input-status-message--invalid {display: block;}
/* input_file */
input[type=file]::file-selector-button {background: var(--white); border: 1px solid #4d4d4d; border-radius: 0.4rem; cursor: pointer;}
input[type=file]::file-selector-button:hover {background: #4d4d4d; color: var(--white);}

.planDay .text {margin:1rem 1rem 0;}
.dayinput { width:100%; margin-bottom: 2rem;}
.dayinput > p {margin-bottom:1rem;}
.dayinput input[type="date"] {width: 100%; height: 100%; vertical-align: middle; font-size: 1.4rem; color: var(--text_gray); padding: 1.4rem 2rem 1.4rem 1.6rem; border:1px solid #D9D9D9; border-radius: 1rem; position: relative; background: url('../image/plnner_icon.svg') no-repeat center right 15px;} 
input[type="date"]::-webkit-calendar-picker-indicator {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: transparent; color: transparent; cursor: pointer;}
input[type="date"]:not(:focus):invalid {
    &::-webkit-datetime-edit-text,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-year-field { -webkit-appearance: none;  display: none; }
}
/* Amount */
.amountWrap {width:-webkit-fill-available;}
.amountWrap.flex,.amountWrap.flex_sb, .amountWrap.flexCol {align-items: stretch;}
.amountWrap .flex > div, .amountWrap .flex_sb> div, .amountWrap .flexCol> div {margin-top:1rem; align-items: center;}
.amountWrap .amountArea, .amountWrap .amountArea.St01 {border:1px solid var(--line_gray2); border-radius: 1rem; padding:0 2rem; width: -webkit-fill-available; -webkit-display: flex; display: flex; flex-flow:row; align-items: center; justify-content: space-between;}
.amountWrap .amountArea input[type="text"] {border:none; color:var(--text); padding:1.2rem 1rem 1.2rem 0;}
.amountWrap .amountArea.St01 {justify-content: flex-end; margin-right: 1rem; width:auto;}
.amountWrap .amountArea.St01 input[type="text"] {text-align: end;}
.amountWrap .amountArea.St01 p {font-size:1.2rem; font-weight:400;}
.amountWrap .btn {width: fit-content; border-radius: 1rem;}

/* select */
.selectBox .select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:0 none; width:180px; height:-webkit-fill-available; padding:1.2rem 5rem 1.2rem 2rem;  font-size: 1.6rem; color:var(--line_gray2); background: url('../image/search_icon.svg') no-repeat 100% 50%; border:1px solid var(--line_gray2); border-radius: 1rem; }
.selectBox select::-ms-expand{display:none;}
.selectBox input[type="text"]{padding:1.2rem 2rem; color:var(--line_gray2); border:1px solid var(--line_gray2); border-radius: 5px; font-size: 1.6rem; background:transparent; margin:0 3rem; width:60%; font-weight: 400;}
.selectBox button{border:0 none; }
/* selectBox 커스텀 */
.selectBox .select:focus {border-color:var(--hover_blue); outline: none; color:var(--text_gray);}
.selectBox select option {padding:1rem; border: 1px solid var(--hover_blue);}
.selectBox input:focus {border-color:var(--hover_blue); outline: none; color:var(--text_gray);}
/* selectBox */
.searchBox .selectBox .select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:0 none; width:180px; height:-webkit-fill-available; padding:1.2rem 5rem 1.2rem 2rem;  font-size: 1.6rem; color:var(--line_gray2); background: url('../image/search_icon.svg') no-repeat 100% 50%; border:1px solid var(--line_gray2); border-radius: 5px; }
.searchwrap select::-ms-expand{display:none;} 
.searchBox button{border:0 none; }

/* searchBox */
.searchBox {width: -webkit-fill-available;}
.searchBox fieldset{border:0 none; vertical-align:top; -webkit-display: flex; display: flex; width:auto;} 
.searchBox fieldset >* {margin-right:2rem;}
.searchBox fieldset >*:last-child {margin-right:0;}
.searchBox input[type="text"]{padding:1.2rem 2rem; color:var(--line_gray2); border:1px solid var(--line_gray2); border-radius: 5px; font-size: 1.6rem; background:transparent; width:60%; font-weight: 400;}
/* searchInBox */
.searchInBox {width:100%; position:relative;}
.searchInBox img {position: absolute; right: 2%; top: 25%; }
.searchInBox input[type="text"] {width:100%;}


/* priceSlider */
:root {
--min-value: 0;        /* 최소값 0으로 변경 */
--max-value: 100;      /* 최대값 100으로 변경 */
--range-step: 1;       /* 기본 step 1 */
--range-height: 8px;
--slider-width: 350px;
--handle-size: 20px;
--handle-effect-size: 5px;
}
.priceSlider{position: relative; margin:4rem 2rem;}
.priceSlider .track { position: relative; width: var(--slider-width); height: var(--range-height); border-radius: 4px; background: var(--bg_Gsky); width:100%;}
.priceSlider .track .ps_progress {height: 100%; position: absolute; left: 0; right: 0; border-radius: 5px; background: var(--purple);}
.priceSlider .handle {width: var(--handle-size); height: var(--handle-size); position: absolute; top: 50%; transform: translate(-50%, -50%); border-radius: 50%; background: var(--white); border:1px solid var(--line_gray1);}
.priceSlider .handle-value {position: absolute; top: -30px; left: 50%; transform: translateX(-50%); font-size: 12px; color: var(--white); font-weight: bold; padding:.2rem .6rem; border-radius: .2rem; background:var(--purple); white-space: nowrap;}
.priceSlider .range-input { margin: 0; top: 0; left: 0; position: absolute; width: 100%; height: var(--range-height); background: none; appearance: none; pointer-events: none; -webkit-appearance: none; -moz-appearance: none;}
.priceSlider .range-input::-webkit-slider-thumb {height: var(--handle-size); width: var(--handle-size); border-radius: 50%; background: transparent; pointer-events: auto; -webkit-appearance: none; cursor: pointer;}
.priceSlider .range-input::-moz-range-thumb { height: var(--handle-size); width: var(--handle-size); border: none; border-radius: 50%; background: transparent; pointer-events: auto; -moz-appearance: none; box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);}
.priceSlider .range-input:hover::-webkit-slider-thumb {box-shadow:var(--shadow02);}
.priceSlider .range-input:active::-webkit-slider-thumb {box-shadow:var(--shadow02);}

/* colorDot */
.colorDot {display: inline-block; width: 1rem; height: 1rem; margin-right:1rem; border-radius: 50px; background: var(--footer_blue);}
.colorDot.St2 {background: var(--chart_02);}
.colorDot.St3 {background: var(--chart_03);}
.colorDot.St4 {background: var(--chart_04);}
.colorDot.St5 {background: var(--purple);}
.colorDot.St6 {background: var(--hover_blue);}
.colorDot.St7 {background: var(--blue);}
.colorDot.St8 {background: #FFF9AB;}
.colorDot.St9 {background: #FF7859; color:#FF7859;}

/* ---- header&footer Start ---- */
#header {position:fixed; top:4rem; left : 50%; transform: translateX(-50%); width:1400px; margin:0 auto; background:var(--white); padding:3rem; box-shadow: var(--shadow); z-index: 100; align-items: flex-start;}
#header .toplogo {padding-top: 1rem;}
#header .menu {align-items: flex-start;}
#header .menu li > a {display: block; padding: 10px 25px; white-space: nowrap;}
#header .menu li:hover > a {color:var(--hover_blue); font-weight: 700;}
#header .menu li a.on {font-weight: 700; color:var(--hover_blue); text-align: center;} 
#header .flex button {font-size:1.8rem;}
#header .flex button.btnSt {padding:1.2rem 3.5rem;} 
#header .flex a .ri-user-line {font-size: 1.8rem;}
#header .menu li .submenu {display: none;  background-color: #fff; width: 100%; height: fit-content; overflow: hidden; transition: max-height 0.3s ease-out; margin-top: 1rem;}
#header .menu li .submenu li a {display: block; padding: 8px 20px; text-align: center; white-space: nowrap; font-size: 1.5rem;}
#header .menu li .submenu li a:hover {background-color: #f0f0f0;}
/* #header .menu li.open > .submenu {display: block; max-height: 500px;} */


/* menu-bar */
#menu-bar { width: 20px; height: 20px; margin: 15px 0 0 15px; cursor: pointer; display: none;}
.bar {height: 2px; width: 100%; background-color: var(--text); display: block; border-radius: 5px; transition: 0.3s ease;}
#bar1 {transform: translateY(-4px);}
#bar3 {transform: translateY(4px);}
/* .mobile_menu_Area {display: none; transition: 0.3s ease;} */
.change .bar {background-color: var(--text);}
.change #bar1 {transform: translateY(3px) rotateZ(-45deg);}
.change #bar2 {opacity: 0;}
.change #bar3 {transform: translateY(-1px) rotateZ(45deg);}

/* moble_Menu */
.moble_Menu {position:fixed; width:100%; height: calc(100vh - 82px); background: var(--white); bottom: 0; left: 0; z-index: 100; padding:2rem; background:var(--bg_Gsky); display: none;overflow: auto;}
.moble_Menu .flex_sb {margin:2rem 0; border-bottom: 1px solid var(--line_gray1); padding-bottom: 2rem;}

.moble_Menu .menu li {margin-bottom: 2rem;}
.moble_Menu .menu li a { font-size: 2rem; padding:1rem 2rem; border-radius: 1rem; transition: all .2s linear; display: block;}
.moble_Menu .menu li a:hover, 
.moble_Menu .menu li a.on {color:var(--navy); font-weight: 900; background:var(--footer_blue);}
.mobileMenu {display: block;}
/* accordion sub */
.moble_Menu .menu li div {display: none; margin-top:1rem; line-height: 2; color:var(--text); }
/* accordion sub->active */
.moble_Menu .menu li div a {font-size: 1.6rem; background: none;}
.moble_Menu .menu li div a:hover,
.moble_Menu .menu li div a.on {color: var(--hover_blue); background:var(--bg_Gsky);}



/* subNav */
.subNav li {position: relative; color: var(--text_gray); font-size: 1.4rem; -webkit-display: flex; display: flex;}
.subNav .nav::before {display: inline-block; content: ''; background:url('../image/subNav_arrow.svg'); width:18px; height: 18px; margin:0 1rem;}

/* footer */
#footer {background: var(--footer_blue); padding:3rem 0;}
#footer .flex .ftlogo {margin-right: auto;}
#footer hr {margin-top:1rem; padding-top:1rem;}
#footer ul li .deco {position:relative; margin-right:1rem; padding-right:1rem;}
#footer ul li .deco:after {content: ''; position: absolute; width:1px; height: 15px; background:var(--text); top:4px; right:0;}
/* ---- header&footer End ---- */
